<body>
  <div class="navbar">
    <div class="container">
      <div class="row">
        <div class="menu col-xs-8">
    			<ul>
              <li>
                <%= link_to "Welcome", 'welcome' %>
              </li>

              <li>
              <%= link_to "Portfolio", 'portfolio' %>
              </li>

              <li>
              <%= link_to "About", 'about' %>
              </li>

              <li>
                <%= link_to "Blog", 'blog' %>
              </li>

              <li>
              <%= link_to "Contact", 'contact' %>
              </li>
        </ul>
      </div>
      
    
   <div class="name col-xs-4">
    <h2>Simon Babba</h2>
   </div>
    
      
      
      </div>
    </div>
  </div>
</body>

<body>
  <div class="main home">
  <div class="jumbotron">
    <div class="container">
    <h1>Hello. My name is <span class="highlight">Simon Babba</span> and I have creative ideas and build websites.</h1>
    <div class="btn" href="portfolio">View my Work</div>
    </div>
    </div>
  </div>
</body>

<footer>
  <div class="footer">
    <div class="container">
  		<ul class="social_media">
      	<li>
      	<a href="https://www.linkedin.com/in/simonbabba" class="linkedin"><i class="fa fa-linkedin fa-2x"></i></a>
      	</li>
      
      <li>
      <a href="https://github.com/jafoole" class="github"> <i class="fa fa-github fa-2x"></i></a>
      </li>
      
      <li>
        <a href="https://twitter.com/jafoole" class="twitter"> <i class="fa fa-twitter fa-2x"></i></a>
        
   
      </li>
    </ul>
      <p>© 2015 Simon Babba</p>
    </div>
  </div>
</footer>







