<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'function', 'data-turbolinks-track' => true %>
  <script src="//code.jquery.com/jquery-latest.min.js"></script>
  <script src="//unslider.com/unslider.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="container">
      <div class="row">
        <div class="menu col-xs-8">
    			<ul>
              <li>
                <%= link_to "Welcome", 'welcome' %>
              </li>

              <li>
              <%= link_to "Portfolio", 'portfolio' %>
              </li>

              <li>
              <%= link_to "About", 'https://about.me/simonbabba' %>
              </li>

              <li>
                <%= link_to "Blog", 'https://medium.com/@jafoole' %>
              </li>

              <li>
              <%= link_to "Contact", 'contact' %>
              </li>
        </ul>
      </div>
      
    
   <div class="name col-xs-4">
    <h2>Simon Babba</h2>
   </div>
    
      
      
      </div>
    </div>
  </div>

<%= yield %>

</body>
  <footer>
  <div class="footer">
    <div class="container">
  		<ul class="social_media">
      	<li>
      	<a href="https://www.linkedin.com/in/simonbabba" class="linkedin"><i class="fa fa-linkedin fa-2x"></i></a>
      	</li>
      
      <li>
      <a href="https://github.com/jafoole" class="github"> <i class="fa fa-github fa-2x"></i></a>
      </li>
      
      <li>
        <a href="https://twitter.com/jafoole" class="twitter"> <i class="fa fa-twitter fa-2x"></i></a>
        
   
      </li>
    </ul>
      <p>© 2015 Simon Babba</p>
    </div>
  </div>
</footer>
</html>
